* {
   /* font-family: "Fantasque Sans Mono";*/
	font-family: "Fira Sans Regular";
}

window#waybar {
    background-color: #1D2021;
    color: #EBDBB2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
}
#window {
    background-color: #282828;
    color: #B57614;
    margin: 6px 6px 6px 6px;
    padding: 2px 6px 2px 6px;
    border-radius: 6px;
}

#waybar.empty #window {
    background: none;
}

button {
    border: none;
    border-radius: 6px;
    padding: 2px 6px 2px 6px;
}

#workspaces {
    padding: 0px 6px 0px 6px;
    margin: 6px 6px 6px 6px;
    border-radius: 6px;
    background-color: #282828;
}
#workspaces button {
    padding: 0px 6px 0px 6px;
    background-color: transparent;
    color: #EBDBB2;
    border-radius: 6px;
}

#workspaces button.active {
    color: #B57614;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 6px;
    background-color: #282828;
    color: #427B58;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
}

@keyframes blink {
    to {
        background-color: #fb4934;
        color: #EBDBB2;
    }
}

#power-profiles-daemon {
    margin-top: 6px;
    margin-bottom: 6px;
	color: #EBDBB2;
    padding: 6px 6px 6px 6px;
	border-radius: 6px;
}
#power-profiles-daemon.performance{
	background-color: #D65D0E;
	padding: 6px 10px 6px 10px;
}
#power-profiles-daemon.balanced{
	background-color: #458588;
}
#power-profiles-daemon.power-saver{
	background-color: #98971A;
}

#memory {
	
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #282828;
    color: #076678;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
}

#network {

    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #282828;
    color: #8F3F71;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
}

#pulseaudio {
	
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #282828;
    color: #79740E;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
}

#temperature {

    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #282828;
    color: #AF3A03;
    padding: 2px 6px 2px 2px;
    border-radius: 6px;
}

#temperature.critical {
    background-color: #cc241d;
}

#tray {
    background-color: #282828;
    border-radius: 6px;
    color: transparent;
    padding: 2px 6px 2px 6px;
    margin: 6px 0px 6px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #AF3A03;
}
